<div class="econ-interactive-container">
  <div
  class="wrapper"
>
  <div class="item-narative">
    <div *ngIf="mode === 0" @myAnimationTrigger>
      <h1>The Determination of Labor Demand</h1>
      <ul>
        <li>
          The amount of labor demanded at any given real wage rate is the
          quantity of labor at which the marginal product of labor (MPN) equals
          the real wage rate.
        </li>
        <li>
          Use the slider to see how the quantity of labor demanded changes with
          the changes in the real wage, <span econMath="\( \omega \)"></span>.
        </li>
        <li>
          As the real wage decreases, the quantity of labor demanded increases.
        </li>
      </ul>
       <econ-slider
        class="econ-control"
        econMath
        label="Real wage, \(\omega \)"
        min="72"
        max="92"
        value="79.45"
        showValue="false"
        [displayValue]="rw"
        step="0.05"
        (valueChange)="updateChart(23539, 25.99, $event, 0, 0, 0, 0)"
        (dragEnd)="messageBuilder('rw', $event.value)"
      ></econ-slider>
     </div>
    <div *ngIf="mode === 1" @myAnimationTrigger>
      <h1>Factors that Shift the Labor Demand Curve</h1>
      <ul>
        <li>
          A beneficial supply shock, or an increase in the capital stock, that
          raises the <b>MPN</b> at every level of labor shifts the labor demand
          curve <b>(ND)</b> upward and to the right.
        </li>
        <li>
          An adverse supply shock, or a decrease in the capital stock, that
          lowers the <b>MPN</b> at every level of labor shifts the labor demand
          curve <b>(ND)</b> downward and to the left.
        </li>
        <li>Use the sliders below to simulate these shocks.</li>
        <li>
          Moving the productivity slider to the left simulates an adverse supply
          shock and moving the slider to the right simulates a beneficial supply
          shock
        </li>
        <li>
          Moving the capital stock slider to the left simulates a decline in the
          capital stock and moving the slider to the right simulates an increase
          in the capital stock.
        </li>
      </ul>
      <div class="control-column">
         <econ-slider
          class="econ-control"
          label="Productivity"
          min="23.99"
          max="27.99"
          [showPercent]="true"
          showValue="false"
          [value]="A"
          step=".1"
          (valueChange)="updateChart(K, $event, rw, 0, 0, 0, 0)"
          (dragEnd)="messageBuilder('prod', $event.value)"
        ></econ-slider>
        <econ-slider
          class="econ-control"
          label="Capital stock"
          min="19539"
          max="27539"
          showValue="false"
          [showPercent]="true"
          [value]="K"
          step="100"
          (valueChange)="updateChart($event, A, rw, 0, 0, 0, 0)"
          (dragEnd)="messageBuilder('capital', $event.value)"
        ></econ-slider>
        <button mat-raised-button (click)="reset()">Reset</button>
      </div>
    </div>
    <div *ngIf="mode === 2" @myAnimationTrigger>
      <h1>The Determination of Labor Supply</h1>
      <ul>
        <li>The amount of labor supplied depends the real wage.</li>
        <li>
          Use the slider to see how the quantity of labor supplied changes with
          the changes in the real wage, <span econMath="\( \omega \)"></span>.
        </li>
        <li>
          As the real wage increases, the quantity of labor supplied increases.
        </li>
      </ul>
       <econ-slider
        class="econ-control"
        econMath
        label="Real wage, \(\omega \)"
        min="72"
        max="92"
        value="79.45"
        showValue="false"
        [displayValue]="rw"
        step=".05"
        (valueChange)="updateChart(23539, 25.99, $event, 0, 0, 0, 0)"
        (dragEnd)="messageBuilder('rw', $event.value)"
      ></econ-slider>
    </div>
    <div *ngIf="mode === 3" @myAnimationTrigger>
      <h1>Factors that Shift the Labor Supply Curve</h1>
      <ul>
        <li>
          Each of the following changes reduces the quantity of labor supplied
          at any given real wage rate and thus shifts the labor supply curve to
          left:
        </li>
        <li>An increase in wealth</li>
        <li>An increase in the expected future real wage rate</li>
        <li>A decrease in working-age population</li>
        <li>A decrease in the labor force participation rate</li>
        <li>
          Moving the slider to the right, increases the value of each of the
          variables below. Note which direction the labor supply curve moves in
          each case.
        </li>
      </ul>
      <div class="control-column">
         <econ-slider
          class="econ-control"
          label="Wealth"
          min="-6"
          max="6"
          [showPercent]="true"
          showValue="false"
          [value]="wealth"
          step=".05"
          (valueChange)="
            updateChart(23539, 25.99, 80, $event, exWage, pop, partRate)
          "
          (dragEnd)="messageBuilder('wealth', $event.value)"
        ></econ-slider>
        <econ-slider
          class="econ-control"
          label="Expected future real wage"
          min="-6"
          max="6"
          [showPercent]="true"
          showValue="false"
          [value]="exWage"
          step=".05"
          (valueChange)="
            updateChart(23539, 25.99, 80, wealth, $event, pop, partRate)
          "
          (dragEnd)="messageBuilder('exRw', $event.value)"
        ></econ-slider>
        <econ-slider
          class="econ-control"
          label="Working-age population"
          min="-6"
          max="6"
          [showPercent]="true"
          showValue="false"
          [value]="pop"
          step=".05"
          (valueChange)="
            updateChart(
              23539,
              25.99,
              80,
              wealth,
              exWage,
              $event,
              partRate
            )
          "
          (dragEnd)="messageBuilder('pop', $event.value)"
        ></econ-slider>
        <econ-slider
          class="econ-control"
          label="Participation rate"
          min="-6"
          max="6"
          [showPercent]="true"
          showValue="false"
          [value]="partRate"
          step=".05"
          (valueChange)="
            updateChart(23539, 25.99, 80, wealth, exWage, pop, $event)
          "
          (dragEnd)="messageBuilder('partRate', $event.value)"
        ></econ-slider>
         <button mat-raised-button (click)="reset()">Reset</button>
      </div>
    </div>
    <div *ngIf="mode === 4" @myAnimationTrigger>
      <h1>Labor Market Equilibrium</h1>
      <ul>
        <li>
          In equilibrium, the real wage equals the value at which the quantity
          of labor demanded equals the quantity of labor supplied.
        </li>
      </ul>
       <econ-slider
        tabindex="-1"
        class="econ-control"
        econMath
        label="Real wage, \( \omega \)"
        min="72"
        max="90"
        showValue="false"
        [displayValue]="rw"
        value="79.45"
        step=".05"
        (valueChange)="updateChart(23539, 25.99, $event, 0, 0, 0, 0)"
        (dragEnd)="messageBuilder('rw', $event.value)"
      ></econ-slider>
     </div>
    <div *ngIf="mode === 5" @myAnimationTrigger>
      <h1>
        How Shifts in Labor Supply and Labor Demand Affect Equilibrium in the
        Labor Market
      </h1>
      <ul>
        <li>
          Move the "Productivity" slider to the left to simulate a temporary
          adverse supply shock that affects the location of the labor demand
          curve.
        </li>
        <li>
          Notice that the equilibrium real wage rate falls and the equilibrium
          level of employment falls.
        </li>
        <li>
          Move the “Wealth” slider to the right to simulate an increase in
          wealth. Notice that the equilibrium real wage rate increases and the
          equilibrium level of employment falls.
        </li>
      </ul>
      <div class="control-column">
         <econ-slider
          class="econ-control"
          label="Productivity"
          min="23.99"
          max="27.99"
          [showPercent]="true"
          showValue="false"
          [value]="A"
          step=".05"
          (valueChange)="updateChart(K, $event, rw, wealth, 0, 0, 0)"
          (dragEnd)="messageBuilder('prod', $event.value)"
        ></econ-slider>
        <econ-slider
          aria-describedby="sliderInstruction"
          class="econ-control"
          label="Wealth"
          min="-6"
          max="6"
          [showPercent]="true"
          showValue="false"
          [value]="wealth"
          step=".05"
          (valueChange)="updateChart(K, A, rw, $event, 0, 0, 0)"
          (dragEnd)="messageBuilder('wealth', $event.value)"
        ></econ-slider>
         <button mat-raised-button (click)="reset()">Reset</button>
      </div>
    </div>
  </div>
  <!--mode narative here-->
  <div id="container" class="item-chart">
  </div>
</div>

  <app-player *ngIf="showPlayer" role="navigation" class="player-navigation-container" [mode]="mode" [steps]="6" (modeChange)="playStep($event)"></app-player>
</div>
