@import '../../../../app-mixins';

.wrapper {
  @include flexbox();
  flex-flow: row;
  max-width: 1000px;
}

.item-chart {
  @include flex(5.5 5.5);
}

.item-narative {
  @include flex(4.5 4.5);
}

.control-column {
  @include flexbox();
  flex-flow: column;
}

@media all and (max-width: 750px) {
  .wrapper {
    @include flexbox();
    flex-flow: column-reverse;
  }

  .item-chart {
    @include flex(1 0 100%);
  }

  .item-narative {
    @include flex(0 0 100%);
  }

}

ul {
  line-height: 1.75em;
}

button {
  width: 60px;
  position: relative;
  margin: 8px;
  left: 40%;
}
