<div class="econ-interactive-container">
    <h1 class="mat-headline-5">Consumer Surplus</h1>
    <div class="wrapper">
      <div class="item-narrative" aria-live="polite" >
        <h2 class="mat-headline-6">Computing Consumer Surplus</h2>
        <p class="mat-body-1">
          Use the sliders to vary the initial price and new price of jeans to practice computing consumer surplus and the change in consumer surplus.
        </p>
  
        <div class="control-column">
          <econ-slider
          class="econ-control"
          label="World price"
          showValue="false"
          displayValue="{{ sliderGroup.value.worldPrice | currency}}"
          min="65"
          max="90"
          step="5"
          [(value)]="sliderGroup.value.worldPrice!"
          (valueChange)="updateGraph()"
          ></econ-slider>
          <econ-slider
          class="econ-control"
          label="Tariff"
          showValue="false"
          displayValue="{{sliderGroup.value.tariff | currency}}"
          min="0"
          max="35"
          step="5"
          [(value)]="sliderGroup.value.tariff!"
          (valueChange)="updateGraph()"
          ></econ-slider>

         </div>
        <h3 class="mat-subtitle-1">Calculations:</h3>
        <p aria-live="polite" id="graph-update">
        </p>
  
      </div>
      <div class="item-chart" id="chart1"></div>
    </div>
  </div>
