<div class="econ-interactive-container">
    <h1 class="mat-headline-5">Decomposing a Price Change</h1>
    <div class="wrapper">
        <div class="item-narrative">
            <h2 class="mat-headline-6">Key Points:</h2>
            <div @myAnimationTrigger>
                <ul>
                    <li>
                        bullet one
                    </li>
                    <li>
                        bullet two
                    </li>
                    <li>
                        bullet three
                    </li>
                </ul>
                <div class="econ-control control-column">
                    <label id="radio-label11">Choose who the tax is imposed on:</label><br />
                    <mat-radio-group aria-labelledby="radio-label11" (change)="mode.set(+$event.value);updateGraph()">
                        <mat-radio-button checked="true" value="0">Sellers</mat-radio-button>
                        <mat-radio-button value="1">Consumers</mat-radio-button>
                    </mat-radio-group>
            </div>

            </div>


        </div>
        <div class="item-chart" id="chart1">
            chart here
        </div>
    </div>