<div class="econ-interactive-container">
  <div class="wrapper">
    <div class="item-narrative">
      <div *ngIf="mode === 0" class="econ-narative-block" @myAnimationTrigger aria-live="polite">
        <h1>The effects of government purchases in an open economy</h1>
        <p>
          Click "play" to start a simulation showing the effects of an increase in government purchases in the domestic country.
        </p>
        <div  @myAnimationTrigger *ngIf="phase1" aria-live="polite">
          <h2>Short-run effects</h2>
          <ul>
            <li>The IS curve shifts to the right in response to an increase in government purchases in the home country.</li>
            <li>
              In the classical model, this also shifts the full employment curve to the right because it increases present or future tax burdens; because higher taxes make workers poorer, they increase their labor supply.
            </li>
            <li>
              The increase in output causes a decrease in net exports in the home country.
            </li>
            <li>
              The effects of this in the foreign country are transmitted through the change in net exports. Net exports in the foreign country increase, which shifts its IS curve to the right increasing output and the interest rate.
            </li>
          </ul>
        </div>
        <div  @myAnimationTrigger *ngIf="phase2" aria-live="polite">
          <h2>Restoring long-run equilibrium</h2>
          <ul>
            <li>
              The increase in output and real interest rate in both countries will put upward pressure on the price level in both countries.
            </li>
            <li>
              This will shift the LM curve in both countries up and to the left until the IS curve, LM curve, and FE curve intersect at the same point.
            </li>
          </ul>
        </div>
        <button mat-raised-button (click)="playSimulation()">
          {{ buttonTitle }}
        </button>

      </div>
    </div>
    <div class="item-chart control-column">
      <div id="chart1"></div>
      <div id="chart2"></div>
    </div>
  </div>
  <app-player
    *ngIf="showPlayer"
    [steps]="6"
    [mode]="mode"
    (modeChange)="playStep($event)"
    class="player-navigation-container"
  ></app-player>
</div>
