<div class="econ-interactive-container">
    <div class="wrapper">
      <div class="item-narrative">

        <div *ngIf="mode === 0" class="econ-narative-block" @myAnimationTrigger>
          <h2>The effects of government purchases in an open economy</h2>
          <ul>
            <li>
              A simulation showing, step-by-step the effect of an increase in government purchases in the home country.
              <ul>
                <li>IS curve shifts to the right,</li>
                <li>In the classical model, the full employment line also shifts right</li>
                <li>Higher income reduces net exports (NX),</li>
                <li>Lower NX at home, implies higher NX in foreign,</li>
                <li>shifting foreign's IS curve to the right</li>
                <li>The LM curve in both countries shift up and to the left to restore long-run equilibrium.</li>
              </ul>
            </li>
          </ul>
          <econ-slider
          label="Government purchases"
          showValue="false"
          [showPercent]="true"
          [min]="-400"
          [max]="1600"
          step="10"
          [showPercent]="true"
          [value]="slider.value.govPurchases!"
          #startValue
          (valueChange)="updateChart({ govPurchases: $event })"
        ></econ-slider>

  <!--         <div class="control-column econ-control">
            <econ-slider
              label="Wealth"
              showValue="false"
              [showPercent]="true"
              [min]="-500"
              [max]="700"
              step="10"
              [value]="slider.value.wealth!"
              (valueChange)="updateChart({ wealth: $event })"
            ></econ-slider>
            <econ-slider
              label="Expected future output"
              showValue="false"
              [showPercent]="true"
              [min]="-525"
              [max]="675"
              step="10"
              [value]="slider.value.expectedOutput!"
              (valueChange)="updateChart({ expectedOutput: $event })"
            ></econ-slider>
            <econ-slider
              label="Taxes"
              showValue="false"
              [showPercent]="true"
              [min]="-400"
              [max]="1200"
              step="10"
              [showPercent]="true"
              [value]="slider.value.taxes!"
              #startValue
              (valueChange)="updateChart({ taxes: $event })"
            ></econ-slider>
          </div> -->

        </div>
      </div>
      <div class="item-chart control-column">
        <div id="chart1" ></div>
        <div id="chart2" ></div>
        </div>
    </div>
    <app-player
      *ngIf="showPlayer"
      [steps]="6"
      [mode]="mode"
      (modeChange)="playStep($event)"
      class="player-navigation-container"
    ></app-player>
  </div>
