<div class="econ-interactive-container">
  <h1 class="mat-headline-5">{{config[mode].title}}</h1>
  <div class="wrapper">
    <div class="item-narrative">
      <h2 class="mat-headline-6">{{config[mode].title}}</h2>
      <p class="mat-body-1">
        This is  test of customized typography in my app.
      </p>

      <mat-form-field appearance="outline">
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <econ-slider
      >

      </econ-slider>

    </div>
    <div class="item-chart" id="chart1">

    </div>

  </div>
</div>
