@import '../../app-mixins';


.wrapper {
  @include flexbox();
  flex-flow: row;
  justify-content:space-between;
  width: 100%;
}
.item-chart {
  @include flex(5.5 );
}

.item-narrative {
  @include flex(4.5 );
}

.econ-narative-block {
  margin-right: 5px;
}

.control-column {
  @include flexbox();
  flex-flow: column;
  margin-left: 5px;
}

@media all and (max-width: 750px) {
  .wrapper {
    @include flexbox();
    flex-flow: column-reverse;
  }

  .item-chart {
    @include flex(1 0 100%);
  }

  .item-narative {
    @include flex(0 0 100%);
      }

}

ul {
  line-height: 1.75em;
}

button {
  width: 60px;
  position: relative;
  margin: 8px;
  left: 40%;
}

.player-navigation-container {
  @include flexbox();
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 5px;
}
