.econ-instructor-view-container {
 max-width: 1200px;
// height: 90%;
 margin: auto;
 border: solid lightblue 1px;
 border-radius: 8px;
}


.econ-model-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;

}
