<div class="econ-interactive-container">
  <div class="wrapper">
    <div class="item-narrative">
      <div *ngIf="mode === 0" @myAnimationTrigger>
        <h2>The per-worker production function</h2>
        <ul>
          <li>Bullet point 1</li>
          <li>Bullet point 2</li>
          <li>Bullet point 3</li>
        </ul>
      </div>
      <div *ngIf="mode === 1" @myAnimationTrigger>
        <h2>The relationship of consumption per worker to the capital-labor ratio
          in the steady state</h2>
        <ul>
          <li>Bullet point 1</li>
          <li>Bullet point 2</li>
          <li>Bullet point 3</li>
        </ul>
      </div>
      <div *ngIf="mode === 2" @myAnimationTrigger>
        <h2>Determining the capital-labor ratio in the steady state</h2>
        <ul>
          <li>Bullet point 1</li>
          <li>Bullet point 2</li>
          <li>Bullet point 3</li>
        </ul>
      </div>
      <div *ngIf="mode === 3" @myAnimationTrigger>
        <h2>The effect of an increased saving rate on the steady-state capital-labor ratio</h2>
        <ul>
          <li>Bullet point 1</li>
          <li>Bullet point 2</li>
          <li>Bullet point 3</li>
        </ul>
        <div class="control-column econ-control">
          <econ-slider
            label="Saving rate"
            showValue="false"
            displayValue="{{slider.value.savingRate | percent: '0.0-2' }}"
            [min]=".1"
            [max]=".4"
            step=".01"
            [value]="slider.value.savingRate!"
            (valueChange)="updateChart({ savingRate: $event })"
          ></econ-slider>
        </div>
      </div>
      <div *ngIf="mode === 4" @myAnimationTrigger>
        <h2>The effect of a higher population growth rate on the steady-state capital-labor ratio</h2>
        <ul>
          <li>Bullet point 1</li>
          <li>Bullet point 2</li>
          <li>Bullet point 3</li>
        </ul>
        <div class="control-column econ-control">
          <econ-slider
            label="Population growth rate"
            showValue="false"
            displayValue="{{slider.value.popRate | percent: '0.0-2' }}"
            [min]="0"
            [max]=".03"
            step=".0005"
            [value]="slider.value.popRate!"
            (valueChange)="updateChart({ popRate: $event })"
          ></econ-slider>
        </div>
      </div>
      <div *ngIf="mode === 5" @myAnimationTrigger>
        <h2>The effect of a productivity improvement on the steady-state capital-labor ratio</h2>
        <ul>
          <li>Bullet point 1</li>
          <li>Bullet point 2</li>
          <li>Bullet point 3</li>
        </ul>
      </div>

    </div>
    <div class="control-column">
      <div id="chart1" class="item-chart"></div>
      <div [attr.hidden]="hidden" id="chart2" class="item-chart"></div>
      </div>
  </div>
    <app-player
    *ngIf="showPlayer"
    [steps]="6"
    [mode]="mode"
    (modeChange)="playStep($event)"
    class="player-navigation-container"
  ></app-player>
</div>
