<div class="econ-interactive-container">
    <h1 class="mat-headline-5">Gains from Specialization</h1>
    <div class="wrapper">
        <div class="item-narrative" >
            <ul>
                <li>
                    Use the inputs below to set maximium number of each type of production.
                </li>
                <li>
                    Assuming constant opportunity, the PPC is a straight line connecting the extremes.
                </li>
                <li>
                    The opportunity cost of producing websites is the slope of the PPC.
                </li>
            </ul>
        </div>
        <div class="item-chart" id="container1">

        </div>
    </div>
</div>