<div class="econ-interactive-container">
    <h1 class="mat-headline-5">PPC Technology Shifts</h1>
    <div class="wrapper">
        <div class="item-narrative" >
            <h2 class="mat-headline-6">Key Points:</h2>

            <ul class="mat-body-1">
                <li>
                    Changes in technology can favor one product over the other.
                </li>
                <li>
                    Assuming constant opportunity, the PPC is a straight line connecting the extremes.
                </li>
                <li>
                    The opportunity cost of producing websites is the slope of the PPC.
                </li>
            </ul>
            <econ-slider
            class="econ-control"
            label="Apples {{appleWeight() | percent }}"
            displayValue="Oranges {{ orangeWeight() | percent }}"
            showValue="false"
            [value]="appleWeight()"
            step=".05"
            min="0"
            max="1"
            (valueChange)="appleWeight.set($event);updateGraph()"
            ></econ-slider><br/>
            <econ-slider
            class="econ-control"
            label="Change in technology"
            [value]="technology()"
            (valueChange)="technology.set($event);updateGraph()"
            min="0"
            max="2.75"
            step=".25"
            >

            </econ-slider>
        </div>
        <div class="item-chart" id="container1">

        </div>
    </div>
</div>