<div class="econ-interactive-container">
  <div class="wrapper">
    <div class="item-narrative">
      <div *ngIf="mode === 0" class="econ-narative-block" @myAnimationTrigger>
        <h2>Demand schedule</h2>
        <table>
          <thead>
            <th>Price (dollars per pair of shoes)</th><th>Quantity (millions of pairs of shoes per week)</th>
          </thead>
          <tbody>
            <tr>
              <td>175</td><td>7</td>
            </tr>

            <tr>
              <td>150</td><td>8</td>
            </tr>
            <tr>
              <td>125</td><td>9</td>
            </tr>
            <tr>
              <td>100</td><td>10</td>
            </tr>
            <tr>
              <td>75</td><td>11</td>
            </tr>
            <tr>
              <td>50</td><td>12</td>
            </tr>
            <tr>
              <td>25</td><td>13</td>
            </tr>

          </tbody>

        </table>

        <econ-slider
        label="Price"
        showValue="false"
        displayValue="{{slider.value.price}}"
        [min]="25"
        [max]="175"
        step="25"
        [value]="slider.value.price!"
        (valueChange)="updateChart({ price: $event })"
      ></econ-slider>


      </div>
      </div>
    <div id="chart1" class="item-chart"></div>
  </div>
  <app-player
    *ngIf="showPlayer"
    [steps]="6"
    [mode]="mode"
    (modeChange)="playStep($event)"
    class="player-navigation-container"
  ></app-player>
</div>
