<h1>Acemolu/Laibson/List: Interactive Models</h1>
<div class="grid grid-pad">
  <a
  [routerLink]="['/interactive01']"
  [skipLocationChange]="enable"
  [queryParams]="{ mode: '0' }"
  class="col-1-4"
>
  <div class="module hero">
    <h4>Equilibrium</h4>
  </div>
</a>
<a
[routerLink]="['/interactive01']"
[skipLocationChange]="enable"
[queryParams]="{ mode: '1' }"
class="col-1-4"
>
<div class="module hero">
  <h4>Shifts in supply and demand</h4>
</div>
</a>
<a
[routerLink]="['/interactive02']"
[skipLocationChange]="enable"
class="col-1-4"
>
<div class="module hero">
  <h4>Budget constraint</h4>
</div>
</a>
<a
[routerLink]="['/interactive03']"
[skipLocationChange]="enable"
class="col-1-4"
>
<div class="module hero">
  <h4>Consumer surplus</h4>
</div>
</a>
<a
[routerLink]="['/interactive09']"
[skipLocationChange]="enable"
class="col-1-4"
>
<div class="module hero">
  <h4>Producer surplus</h4>
</div>
</a>

<a
[routerLink]="['/interactive04']"
[queryParams]="{ mode: '0' }"
[skipLocationChange]="enable"
class="col-1-4"
>
<div class="module hero">
  <h4>Cost Curve</h4>
</div>
</a>
<a
[routerLink]="['/interactive04']"
[queryParams]="{ mode: '1' }"
[skipLocationChange]="enable"
class="col-1-4"
>
<div class="module hero">
  <h4>Profit</h4>
</div>
</a>
<a
[routerLink]="['/interactive04']"
[queryParams]="{ mode: '2' }"
[skipLocationChange]="enable"
class="col-1-4"
>
<div class="module hero">
  <h4>Profit Maximizing Quantity</h4>
</div>
</a>
<a
[routerLink]="['/interactive05']"
[skipLocationChange]="enable"
class="col-1-4"
>
<div class="module hero">
  <h4>Price Ceilings and Price Floors</h4>
</div>
</a>
<a
[routerLink]="['/interactive06']"
[skipLocationChange]="enable"
class="col-1-4"
>
<div class="module hero">
  <h4>Gains from Specialization</h4>
</div>
</a>
<a
[routerLink]="['/interactive07']"
[skipLocationChange]="enable"
class="col-1-4"
>
<div class="module hero">
  <h4>PPC Technology Shifts</h4>
</div>
</a>
<a
[routerLink]="['/interactive08']"
[skipLocationChange]="enable"
class="col-1-4"
>
<div class="module hero">
  <h4>Effects of Tariffs</h4>
</div>
</a>
<a
[routerLink]="['/interactive10']"
[skipLocationChange]="enable"
class="col-1-4"
>
<div class="module hero">
  <h4>Positive & Negative Externalities</h4>
</div>
</a>
<a
[routerLink]="['/interactive11']"
[skipLocationChange]="enable"
class="col-1-4"
>
<div class="module hero">
  <h4>Effects of Taxes</h4>
</div>
</a>
<a
[routerLink]="['/interactive12']"
[skipLocationChange]="enable"
class="col-1-4"
>
<div class="module hero">
  <h4>Marginal Revenue</h4>
</div>
</a>
<a
[routerLink]="['/interactive13']"
[skipLocationChange]="enable"
class="col-1-4"
>
<div class="module hero">
  <h4>Quantity & Price Effects on Revenue</h4>
</div>
</a>
<a
[routerLink]="['/interactive14']"
[skipLocationChange]="enable"
class="col-1-4"
>
<div class="module hero">
  <h4>Entry & Exit</h4>
</div>
</a>


</div>
