<h1>Acemolu/Laibson/List: Interactive Models</h1>
<div class="grid grid-pad">
  <a
  [routerLink]="['/interactive01']"
  [skipLocationChange]="disableLocationChange"
  [queryParams]="{ mode: '0' }"
  class="col-1-4"
>
  <div class="module hero">
    <h4>Equilibrium</h4>
  </div>
</a>
<a
[routerLink]="['/interactive01']"
skipLocationChange
[queryParams]="{ mode: '1' }"
class="col-1-4"
>
<div class="module hero">
  <h4>Shifts in supply and demand</h4>
</div>
</a>
<a
[routerLink]="['/interactive02']"
skipLocationChange
class="col-1-4"
>
<div class="module hero">
  <h4>Budget constraint</h4>
</div>
</a>
<a
[routerLink]="['/interactive03']"
skipLocationChange
class="col-1-4"
>
<div class="module hero">
  <h4>Consumer surplus</h4>
</div>
</a>
<a
[routerLink]="['/interactive04']"
[queryParams]="{ mode: '0' }"
skipLocationChange
class="col-1-4"
>
<div class="module hero">
  <h4>Cost Curve</h4>
</div>
</a>
<a
[routerLink]="['/interactive04']"
[queryParams]="{ mode: '1' }"
skipLocationChange
class="col-1-4"
>
<div class="module hero">
  <h4>Profit</h4>
</div>
</a>
<a
[routerLink]="['/interactive04']"
[queryParams]="{ mode: '2' }"
skipLocationChange
class="col-1-4"
>
<div class="module hero">
  <h4>Profit Maximizing Quantity</h4>
</div>
</a>
</div>
