<div class="econ-interactive-container">
    <h1 class="mat-headline-5">The Effects of Entry on Profit</h1>
    <div class="wrapper">
        <div class="item-narrative">
            <h2 class="mat-headline-6">Key Points:</h2>
            <div @myAnimationTrigger>
                <ul>
                    <li>
                        bullet one
                    </li>
                    <li>
                        bullet two
                    </li>
                    <li>
                        bullet three
                    </li>
                </ul>
                <div class="econ-control control-column">
                     <econ-slider 
                    label="Number of firms" 
                    showValue="false" 
                    [displayValue]="firms()"
                        [value]="firms()" min="1" max="20" step="1"
                        (valueChange)="firms.set($event);updateGraph()"></econ-slider>

                </div>

            </div>


        </div>
        <div class="item-chart" id="chart1">
            chart here
        </div>
