<div class="econ-interactive-container">
    <h1 class="mat-headline-5">Externalities</h1>
    <div class="wrapper">
        <div class="item-narrative">
            <h2 class="mat-headline-6">Key Points:</h2>
            <div>
                <label id="radio-label11">Choose an option</label><br />
                <mat-radio-group aria-labelledby="radio-label11" (change)="setMode(+$event.value);">
                    <mat-radio-button checked="true" value="0">Negative externality</mat-radio-button>
                    <mat-radio-button value="1">Positive externality</mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="mode() === 0" @myAnimationTrigger>
                <ul>
                    <li>
                        A negative externality imposes an additional cost on society that is not explicitly recognized by the buyers and sellers, which results in overproduction. 
                    </li>
                    <li>
                        Use the slider to increase the external cost. The curve shifting up and to the left is the marginal social cost (MSC) curve. It shows the private marginal cost of production plus the external cost.
                    </li>
                    <li>
                        If we determine the equilibrium using the MSC curve, the equilibrium price is higher, and the equilibrium quantity is lower.  This represents the efficient level of production. 
                    </li>
                    <li>
                        The shaded triangle labeled DWL shows the deadweight loss that occurs when markets don't “internalize” the external cost. The area represents the lost social surplus from producing where MSC is greater than marginal benefit (the demand curve).
                    </li>
                </ul>
            </div>
            <div *ngIf="mode() === 1" @myAnimationTrigger>
                <ul>
                    <li>
                        A positive externality occurs when an economic activity has a spillover benefit that is not considered when people make their own decisions. 
                    </li>
                    <li>
                        Use the slider to increase the external benefit. The curve shifting up and to the right is the marginal social benefit (MSB) curve. It shows the private marginal benefit plus the external benefit.
                    </li>
                    <li>
                        If we determine the equilibrium using the MSB curve, the equilibrium price is higher, and the equilibrium quantity is higher. This represents the efficient level of production.
                    </li>
                    <li>
                        The shaded triangle labeled DWL show the deadweight loss when markets don't “internalize” the external benefit. The area represents the lost social surplus from underproduction: the quantity where MSB is greater than marginal cost (the supply curve).
                    </li>
                </ul>
            </div>
             <econ-slider *ngIf="mode() === 0" class="econ-control" label="External cost" showValue="false"
                displayValue="{{ supplyShift()*modelParams().yscale! | currency: 'USD' : 'symbol' : '0.3-3' }}" [min]="graph().min"
                [max]="graph().max" [value]="supplyShift() " [step]="graph().step"
                (valueChange)="updateGraph($event)"
                 #value
                ></econ-slider>
                <econ-slider *ngIf="mode() === 1" class="econ-control" label="External benefit" showValue="false"
                displayValue="{{ demandShift()*modelParams().yscale! | currency: 'USD' : 'symbol' : '0.0-2' }}" [min]="graph().min"
                [max]="graph().max" [value]="demandShift()" [step]="graph().step"
                (valueChange)="updateGraph($event)"
                 #value
                ></econ-slider>

         </div>
        <div class="item-chart" id="chart1">
        </div>
    </div>
</div>