<div class="econ-interactive-container">
  <div class="wrapper">
    <div id="chart1" class="item-chart">I put some stuff in this container</div>
    <div id="chart2" class="item-chart"></div>
  </div>
  <div class="wrapper">
    <p>sliders and bullet points here.</p>
    <econ-slider
    label="Expected future output"
    showValue="false"
    displayValue="{{ slider.value.expectedOutput }}"
    [min]="1200"
    [max]="6000"
    step="100"
    [value]="slider.value.expectedOutput!"
    (valueChange)="updateChart({ expectedOutput: $event })"
  ></econ-slider>
</div>

</div>
