<div class="econ-interactive-container">
  <div id="container"></div>
  <div class="control-container" >
      <mat-form-field class="control-item" appearance="outline">
        <mat-label>Choose Data to View</mat-label>
        <mat-select [(value)]="selected" (selectionChange)="addSeries()">
          <mat-option
            *ngFor="let data of macroData"
            [value]="data.value"
          >
            {{ data.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button id="recession" [disabled]="recessionDisabled" mat-raised-button>
        {{ recessionTitle }}
      </button>
      <button mat-raised-button (click)="resetChart()">Reset chart</button>
  </div>
</div>
