<div class="econ-instructor-view-container">

  <div class="econ-toolbar">
    <button mat-raised-button [matMenuTriggerFor]="chapter">
      Choose a model
    </button>
    <h1>Hubbard/O'Brien: Interactive Models</h1>
  </div>
  <mat-menu #chapter="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="chapter2">2: Trade-offs, Comparative Advantage, and the Market
      System</button>
    <button mat-menu-item [matMenuTriggerFor]="chapter3">3: Where Prices Come From: The Interaction of Demand and
      Supply</button>
    <button mat-menu-item [matMenuTriggerFor]="chapter4">4: Economic Efficiency, Government Price Setting, and
      Taxes</button>
    <button mat-menu-item [matMenuTriggerFor]="chapter5">5: Externalities, Environmental Policy, and Public
      Goods</button>
    <button mat-menu-item [matMenuTriggerFor]="chapter6">6: Elasticity: The Responsiveness of Demand and Supply</button>
    <button mat-menu-item [matMenuTriggerFor]="chapter9">9: Comparative Advantage and the Gains from
      International Trade</button>
    <button mat-menu-item [matMenuTriggerFor]="chapter11">11: Technology, Production, and Costs</button>
    <button mat-menu-item [matMenuTriggerFor]="chapter12">12: Firms in Perfectly Competitive Markets</button>
    <button mat-menu-item [matMenuTriggerFor]="chapter13">13: Monopolistic Competition</button>
    <button mat-menu-item [matMenuTriggerFor]="chapter15">15: Monopoly and Antitrust Policy</button>
    <button mat-menu-item [matMenuTriggerFor]="chapter17">17: TPublic Choice, Taxes, and the Distribution of
      Income</button>


    <button mat-menu-item [matMenuTriggerFor]="chapter20">20: Economic Growth, the Financial System, and
      Business Cycles</button>
    <button mat-menu-item [matMenuTriggerFor]="chapter21">21: Long-Run Economic Growth: Sources and Policies</button>
    <button mat-menu-item [matMenuTriggerFor]="chapter22">22: Aggregate Expenditure and Output in the Short Run</button>
    <button mat-menu-item [matMenuTriggerFor]="chapter23">23: Aggregate Demand and Aggregate Supply Analysis</button>
    <button mat-menu-item [matMenuTriggerFor]="chapter25">25: Monetary Policy</button>
    <button mat-menu-item [matMenuTriggerFor]="chapter26">26: Fiscal Policy</button>
    <button mat-menu-item [matMenuTriggerFor]="chapter27">27: Inflation, Unemployment, and Federal Reserve Policy</button>
    <button mat-menu-item [matMenuTriggerFor]="chapter28">28: Macroeconomics in an Open Economy</button>
    <button mat-menu-item (click)="viewFullscreen()">View Fullscreen</button>
  </mat-menu>

  <mat-menu #chapter2>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/interactive02']" [queryParams]="" skipLocationChange
      (mouseover)="interactive = 1" (click)="savedInteractive = interactive"
      (mouseleave)="interactive = savedInteractive">
      Production Possibilities (PPF)
    </a>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/interactive03']" [queryParams]="" skipLocationChange
      (mouseover)="interactive = 1" (click)="savedInteractive = interactive"
      (mouseleave)="interactive = savedInteractive">
      Comparative Advantage
    </a>

  </mat-menu>
  <mat-menu #chapter3>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/interactive01']" [queryParams]="{ mode: 0 }"
      skipLocationChange (mouseover)="interactive = 4" (click)="savedInteractive = interactive"
      (mouseleave)="interactive = savedInteractive">
      Equilibrium
    </a>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/interactive01']" [queryParams]="{ mode: 1 }"
      skipLocationChange (mouseover)="interactive = 4" (click)="savedInteractive = interactive"
      (mouseleave)="interactive = savedInteractive">
      Shifts in Supply and Demand
    </a>
  </mat-menu>
  <mat-menu #chapter4>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/interactive04']" [queryParams]="" skipLocationChange
      (mouseover)="interactive = 1" (click)="savedInteractive = interactive"
      (mouseleave)="interactive = savedInteractive">
      Consumer & Producer Surplus
    </a>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/interactive05']" [queryParams]="" skipLocationChange
      (mouseover)="interactive = 1" (click)="savedInteractive = interactive"
      (mouseleave)="interactive = savedInteractive">
      Price Ceilings & Price Floors
    </a>
  </mat-menu>
  <mat-menu #chapter5>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/interactive06']" [queryParams]="" skipLocationChange
      (mouseover)="interactive = 7" (click)="savedInteractive = interactive"
      (mouseleave)="interactive = savedInteractive">
      Positive & Negative Externalities
    </a>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/interactive07']" [queryParams]="" skipLocationChange
      (mouseover)="interactive = 7" (click)="savedInteractive = interactive"
      (mouseleave)="interactive = savedInteractive">
      Optimal Pollution Reduction
    </a>
  </mat-menu>
  <mat-menu #chapter6>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/interactive08']" skipLocationChange
      (mouseover)="interactive = 5" (click)="savedInteractive = interactive"
      (mouseleave)="interactive = savedInteractive">
      Elasticity Calculator
    </a>
  </mat-menu>
  <mat-menu #chapter9>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/interactive09']" skipLocationChange>Effects of Tariffs</a>
  </mat-menu>
  <mat-menu #chapter11>
    <a mat-menu-item [routerLink]=" ['/instructor-dashboard/interactive10']" [queryParams]="{mode: 0}"
      skipLocationChange (mouseover)="interactive = 8" (click)="savedInteractive = interactive"
      (mouseleave)="interactive = savedInteractive">
      Cost Curves
    </a>
  </mat-menu>
  <mat-menu #chapter12>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/interactive10']" [queryParams]="{mode: 1}" skipLocationChange
      (mouseover)="interactive = 12" (click)="savedInteractive = interactive"
      (mouseleave)="interactive = savedInteractive">
      Competitive Firm
    </a>
  </mat-menu>
  <mat-menu #chapter13>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/interactive11']" skipLocationChange
      (mouseover)="interactive = 13" (click)="savedInteractive = interactive"
      (mouseleave)="interactive = savedInteractive">
      Effects of Entry on Profit
    </a>
  </mat-menu>
  <mat-menu #chapter15>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/interactive12']" skipLocationChange
      (mouseover)="interactive = 13" (click)="savedInteractive = interactive"
      (mouseleave)="interactive = savedInteractive">
      Monopoly Model
    </a>
  </mat-menu>
  <mat-menu #chapter17>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/interactive13']" skipLocationChange
      (mouseover)="interactive = 13" (click)="savedInteractive = interactive"
      (mouseleave)="interactive = savedInteractive">
      The Effects of Taxes
    </a>
  </mat-menu>
  <mat-menu #chapter20>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/macrointeractive02']" skipLocationChange
      (mouseover)="interactive = 13" (click)="savedInteractive = interactive"
      (mouseleave)="interactive = savedInteractive">
     Loanable Funds Market 
    </a>
  </mat-menu>
  <mat-menu #chapter21>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/macrointeractive03']" skipLocationChange
      (mouseover)="interactive = 13" (click)="savedInteractive = interactive"
      (mouseleave)="interactive = savedInteractive">
      Production Function
    </a>
  </mat-menu>
  <mat-menu #chapter22>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/macrointeractive01']" skipLocationChange
      (mouseover)="interactive = 13" (click)="savedInteractive = interactive"
      (mouseleave)="interactive = savedInteractive">
      Aggregate Expenditure Model
    </a>
  </mat-menu>
  <mat-menu #chapter23>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/macrointeractive04']" skipLocationChange [queryParams]="{mode: 0}"
      (mouseover)="interactive = 13" (click)="savedInteractive = interactive"
      (mouseleave)="interactive = savedInteractive">
      Static AD/AS Model
    </a>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/macrointeractive04']" skipLocationChange [queryParams]="{mode: 1}"
    (mouseover)="interactive = 13" (click)="savedInteractive = interactive"
    (mouseleave)="interactive = savedInteractive">
    Dynamic AD/AS Model
  </a>
  </mat-menu>
  <mat-menu #chapter25>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/macrointeractive05']" skipLocationChange
      (mouseover)="interactive = 13" (click)="savedInteractive = interactive"
      (mouseleave)="interactive = savedInteractive">
      Federal Funds Market
    </a>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/macrointeractive04']" skipLocationChange [queryParams]="{mode: 2}"
    (mouseover)="interactive = 13" (click)="savedInteractive = interactive"
    (mouseleave)="interactive = savedInteractive">
    Monetary Policy (Dynamic AD/AS Model)
  </a>
  </mat-menu>
  <mat-menu #chapter26>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/macrointeractive04']" skipLocationChange [queryParams]="{mode: 3}"
    (mouseover)="interactive = 13" (click)="savedInteractive = interactive"
    (mouseleave)="interactive = savedInteractive">
    Fiscal Policy (Dynamic AD/AS Model)
  </a>
  </mat-menu>
  <mat-menu #chapter27>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/macrointeractive06']" skipLocationChange
      (mouseover)="interactive = 13" (click)="savedInteractive = interactive"
      (mouseleave)="interactive = savedInteractive">
      Philips Curve
    </a>
  </mat-menu>
  <mat-menu #chapter28>
    <a mat-menu-item [routerLink]="['/instructor-dashboard/macrointeractive07']" skipLocationChange
      (mouseover)="interactive = 13" (click)="savedInteractive = interactive"
      (mouseleave)="interactive = savedInteractive">
      Foreign Exchange Market
    </a>
  </mat-menu>
  <div class="econ-model-container" id="model">
    <router-outlet></router-outlet>
  </div>
