.econ-instructor-view-container {
  display: flex;
  flex-flow: column;
  max-width: 1005px;
  min-height: 500px;
  margin: auto;
  margin-top: 10px;
  border-radius: 8px;
}

.econ-toolbar {
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: #FCFBF2;
  box-shadow: 2px 2px 2px rgba(211, 211, 211, 0.877);
  border-radius: 8px;

  button {
    margin: 5px;
    vertical-align: middle;
  }

  h1 {
    margin: 10px;
  }

}


.econ-model-container {
  margin-top: 5px;
  min-height: 500px;

}

.econ-keypoints {
  margin: auto;
}