<div class="econ-interactive-container">
  <div class="wrapper">
    <div class="item-narrative">
      <div *ngIf="mode === 0" class="econ-narative-block" @myAnimationTrigger>
        <h1>Overview of the AD/AS model</h1>
        <ul>
          <li>
            The price level, <span econMath="\(P\)"></span>, is on the vertical
            axis, and output, <span econMath="\(Y\)"></span>, is on the
            horizontal axis .
          </li>
          <li>
            The aggregate demand (AD) curve shows the aggregate quantity of
            output demanded at each price level.
          </li>
          <li>
            In the short run, the price level is fixed, and firms supply
            whatever level of output is demanded. Thus, the short-run aggregate
            supply (SRAS) curve is horizontal.
          </li>
          <li>
            In the long run, firms produce the amount of output that maximizes
            their profits, which is the full-employment level of output.
          </li>
          <li>So, the long-run aggregate-supply curve, LRAS, is vertical.</li>
          <li>
            The economy is in general equilibrium at the intersection of all
            three curves.
          </li>
        </ul>
      </div>
      <div *ngIf="mode === 1" class="econ-narative-block" @myAnimationTrigger>
        <h1>
          Factors that shift the AD curve (part 1): IS curve shifters (saving)
        </h1>
        <ul>
          <li>
            The AD curve shifts up and to the right if
            <ul>
              <li>Wealth increases,</li>
              <li>Expected future output increases,</li>
              <li>Government purchases increase,</li>
              <li>Taxes decrease.</li>
            </ul>
          </li>
          <li>
            To restore general equilibrium, the price level changes, causing the
            SRAS curve to shift.
          </li>
        </ul>
        <div class="control-column econ-control">
          <econ-slider
            label="Wealth"
            showValue="false"
            [showPercent]="true"
            [min]="-500"
            [max]="700"
            step="10"
            [value]="slider.value.wealth!"
            (valueChange)="updateChart({ wealth: $event })"
            (change)="messageBuilder('A D')"
          ></econ-slider>
          <econ-slider
            label="Expected future output"
            showValue="false"
            [showPercent]="true"
            [min]="-525"
            [max]="675"
            step="10"
            [value]="slider.value.expectedOutput!"
            (valueChange)="updateChart({ expectedOutput: $event })"
            (change)="messageBuilder('A D')"
          ></econ-slider>
          <econ-slider
            label="Government purchases"
            showValue="false"
            [showPercent]="true"
            [min]="-400"
            [max]="1600"
            step="10"
            [showPercent]="true"
            [value]="slider.value.govPurchases!"
            #startValue
            (valueChange)="updateChart({ govPurchases: $event })"
            (change)="messageBuilder('A D')"
          ></econ-slider>
          <econ-slider
            label="Taxes"
            showValue="false"
            [showPercent]="true"
            [min]="-400"
            [max]="1200"
            step="10"
            [showPercent]="true"
            [value]="slider.value.taxes!"
            #startValue
            (valueChange)="updateChart({ taxes: $event })"
            (change)="messageBuilder('A D')"
          ></econ-slider>
        </div>
        <div>
          <button
            class="large-button"
            mat-raised-button
            (click)="restoreEquilibrium()"
            matTooltip="Restores long-run equilibrium"
          >
            Restore Equilibrium
          </button>
          <button
            mat-raised-button
            (click)="playStep(1)"
            matTooltip="Resets graph and sliders to their initial state"
          >
            Reset
          </button>
        </div>
      </div>
      <div *ngIf="mode === 2" class="econ-narative-block" @myAnimationTrigger>
        <h1>Factors that shift the AD curve (part 2): IS curve shifters</h1>
        <ul>
          <li>
            The AD curve shifts up and to the right if
            <ul>
              <li>Expected future TFP increases,</li>
              <li>The effective tax rate on capital decreases.</li>
            </ul>
          </li>
          <li>
            To restore general equilibrium, the price level changes, causing the
            SRAS curve to shift.
          </li>
        </ul>
        <div class="control-column econ-control">
          <econ-slider
            label="Expected future TFP"
            showValue="false"
            [showPercent]="true"
            [min]="2116"
            [max]="5000"
            step="1"
            [showPercent]="true"
            [value]="slider.value.expectedTFP!"
            #startValue
            (valueChange)="updateChart({ expectedTFP: $event })"
            (change)="messageBuilder('A D')"
          ></econ-slider>
          <econ-slider
            label="Effective tax rate on capital"
            showValue="false"
            [showPercent]="true"
            [min]="0.07"
            [max]="0.17"
            step=".0025"
            [showPercent]="true"
            [value]="slider.value.effTax!"
            #startValue
            (valueChange)="updateChart({ effTax: $event })"
            (change)="messageBuilder('A D')"
          ></econ-slider>
        </div>
        <div>
          <button
            class="large-button"
            mat-raised-button
            (click)="restoreEquilibrium()"
            matTooltip="Restores long-run equilibrium"
          >
            Restore Equilibrium
          </button>
          <button
            mat-raised-button
            (click)="playStep(2)"
            matTooltip="Resets graph and sliders to their initial state"
          >
            Reset
          </button>
        </div>
      </div>
      <div *ngIf="mode === 3" class="econ-narative-block" @myAnimationTrigger>
        <h1>Factors that shift the AD curve (part 3): LM curve shfiters</h1>
        <ul>
          <li>
            The AD curve shifts up and to the right if
            <ul>
              <li>Nominal money supply increases,</li>
              <li>Expected inflation increases,</li>
              <li>Nominal interest rate on monetary assets decreases.</li>
            </ul>
          </li>
          <li>
            To restore general equilibrium, the price level changes, causing the
            SRAS curve to shift.
          </li>
        </ul>
        <div class="control-column econ-control">
          <econ-slider
            label="Nominal money supply"
            showValue="false"
            [showPercent]="true"
            [min]="185000"
            [max]="325000"
            step="100"
            [value]="slider.value.money!"
            #startValue
            (valueChange)="updateChart({ money: $event })"
            (change)="messageBuilder('A D')"
          ></econ-slider>
          <econ-slider
            label="Expected inflation"
            showValue="false"
            [showPercent]="true"
            [min]="0.0"
            [max]="0.1"
            step="0.0025"
            [value]="slider.value.expectedInflation!"
            (valueChange)="updateChart({ expectedInflation: $event })"
            (change)="messageBuilder('A D')"
          ></econ-slider>
          <econ-slider
            label="Nominal rate on money"
            showValue="false"
            [showPercent]="true"
            [min]="0.0"
            [max]="0.04"
            step="0.0025"
            [value]="slider.value.nominalRate!"
            (valueChange)="updateChart({ nominalRate: $event })"
            (change)="messageBuilder('A D')"
          ></econ-slider>
        </div>
        <div>
          <button
            class="large-button"
            mat-raised-button
            (click)="restoreEquilibrium()"
            matTooltip="Restores long-run equilibrium"
          >
            Restore Equilibrium
          </button>
          <button
            mat-raised-button
            (click)="playStep(3)"
            matTooltip="Resets graph and sliders to their initial state"
          >
            Reset
          </button>
        </div>
      </div>
      <div *ngIf="mode === 4" class="econ-narative-block" @myAnimationTrigger>
        <h1>Factors that shift the SRAS curve</h1>
        <ul>
          <li>
            Any factor, such as an increase in the costs of production, that
            leads firms to increase prices in the short-run will shift the
            short-run aggregate supply (SRAS) curve up.
          </li>
          <li>
            Conversely, a factor that decreases the costs of production will
            shift the SRAS curve down.
          </li>
          <li>
            To restore general equilibrium, the price level changes, causing the
            SRAS curve to shift.
          </li>
        </ul>
        <div class="control-column econ-control">
          <econ-slider
            label="Price level"
            showValue="false"
            [showPercent]="true"
            [min]="50"
            [max]="150"
            step="1"
            [value]="slider.value.priceLevel!"
            #startValue
            (valueChange)="updateChart({ priceLevel: $event })"
            (change)="messageBuilder('S R A S')"
          ></econ-slider>
        </div>
        <div>
          <button
            class="large-button"
            mat-raised-button
            (click)="restoreEquilibrium()"
            matTooltip="Restores long-run equilibrium"
          >
            Restore Equilibrium
          </button>
          <button
            mat-raised-button
            (click)="playStep(4)"
            matTooltip="Resets graph and sliders to their initial state"
          >
            Reset
          </button>
        </div>
      </div>
      <div *ngIf="mode === 5" class="econ-narative-block" @myAnimationTrigger>
        <h1>Factors that shift the LRAS curve</h1>
        <ul>
          <li>
            Any factor that increases the full-employment level of output shifts
            the long-run aggregate supply (LRAS) curve to the right
            <ul>
              <li>
                A beneficial supply shock that causes an increase in total
                factor productivity,
              </li>
              <li>An increase in labor supply,</li>
              <li>An increase in the capital stock.</li>
            </ul>
          </li>
          <li>
            To restore general equilibrium, the price level changes, causing the
            SRAS curve to shift.
          </li>
        </ul>
        <div class="control-column econ-control">
          <econ-slider
            label="Supply shock"
            showValue="false"
            [showPercent]="true"
            [min]="-400"
            [max]="400"
            step="10"
            [value]="slider.value.supplyShock!"
            #startValue
            (valueChange)="updateChart({ supplyShock: $event })"
            (change)="messageBuilder('L R A S')"
          ></econ-slider>
          <econ-slider
            label="Labor supply"
            showValue="false"
            [showPercent]="true"
            [min]="-400"
            [max]="400"
            step="1"
            [value]="slider.value.laborSupply!"
            #startValue
            (valueChange)="updateChart({ laborSupply: $event })"
            (change)="messageBuilder('L R A S')"
          ></econ-slider>
          <econ-slider
            label="Capital stock"
            showValue="false"
            [showPercent]="true"
            [min]="-400"
            [max]="400"
            step="1"
            [value]="slider.value.capitalStock!"
            #startValue
            (valueChange)="updateChart({ capitalStock: $event })"
            (change)="messageBuilder('L R A S')"
          ></econ-slider>
        </div>
        <div>
          <button
            class="large-button"
            mat-raised-button
            (click)="restoreEquilibrium()"
            matTooltip="Restores long-run equilibrium"
          >
            Restore Equilibrium
          </button>
          <button
            mat-raised-button
            (click)="playStep(5)"
            matTooltip="Resets graph and sliders to their initial state"
          >
            Reset
          </button>
        </div>
      </div>
    </div>
    <div id="chart1" class="item-chart"></div>
  </div>
  <app-player
    *ngIf="showPlayer"
    [steps]="6"
    [mode]="mode"
    (modeChange)="playStep($event)"
    class="player-navigation-container"
  ></app-player>
</div>
