@import '../../../../app-mixins';

.wrapper {
  @include flexbox();
  flex-flow: row;
  max-width: 1000px;
}

.item-chart {
  @include flex(5.5 5.5);
}

.item-narative {
  @include flex(4.5 4.5);
  margin-right: 5px;
}

.control-column {
  @include flexbox();
  flex-flow: column;
}

@media all and (max-width: 750px) {
  .wrapper {
    @include flexbox();
    flex-flow: column-reverse;
  }

  .item-chart {
    @include flex(1 0 100%);

  }

  .item-narative {
    @include flex(0 0 100%);
  }

}

table {
  table-layout: auto;
  width: 80%;
  border-collapse: collapse;
  vertical-align: baseline;
  position: relative;
  left: 5%;

}

th {
  font-weight: 500;
}
td {
  text-align: right;
  padding-right: 25px;
}
caption {
  color: #257D46;
  font-size: 14pt;
  font-weight: 500;
  text-align: left;
}


ul {
  line-height: 1.75em;
}

.player-navigation-container {
  @include flexbox();
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 5px;
}

