<div class="econ-interactive-container">
    <h1 class="mat-headline-5">Expenditure Model</h1>
    <div class="wrapper">
        <div class="item-narrative">
            <h2 class="mat-headline-6">The Multiplier Effect</h2>
            <p>Create a recession by increasing potential GDP. Additionally, you can change the marginal propensity to consume (mpc).</p>
            <mat-form-field appearance="outline">
                <mat-label>Potential GDP</mat-label>
                <mat-select [(value)]="pot" (selectionChange)="potGDP.set($event.value)" >
                    <mat-option [value]="option" *ngFor=" let option of options().pot">{{option}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>MPC</mat-label>
                <mat-select [(value)]="cy" (selectionChange)="mpc.set($event.value)"
                >
                <mat-option [value]="option" *ngFor=" let option of options().mpc">{{option}}</mat-option>
                </mat-select>
                </mat-form-field>
                <p>Taking into account the spending multiplier, you can acheive full employment by increaseing goverment spending by <input #spending type="number" #g0Value [value]="deltaG0()" min="0" max="600" aria-label="Change in goverment spending" (change)="deltaG0.set(+g0Value.value)"/> billion dollars. Then, click play to see how you did.</p>
                <button type="button" mat-raised-button (click)="simulation()" >{{buttonTitle()}}</button>
                <h3>Multiplier:</h3>
                <span [econMath]="equations().equation2"></span>
                <h3>Change in GDP:</h3>
                <span [econMath]="equations().equation1"></span>

        </div>
        <div id="chart1" class="item-chart"></div>
    </div>
