<div class="econ-interactive-container">
    <h1 class="mat-headline-5">Expenditure Model</h1>
    <div class="wrapper">
        <div class="item-narrative">
            <h2 class="mat-headline-6">The Multiplier Effect</h2>

            <ul>
                <li>Use this interactive to explore a variety of scenarios to help you better understand comparative advantage and the gains from trade.</li>
                <li>
                    The graphs show the opportunity cost of producing cherries for each person, or simply the slope of the PPF.                                                                                                             
                </li>
                <li>
                    The opportunity cost of picking apples is the inverse of the opportunity cost of picking cherries. 
                </li>
                <li>
                    Whoever has the lowest opportunity cost picking cherries has a comparative advantage in picking cherries. The other person has a comparative advantage in picking apples.
                </li>
            </ul>
            <econ-slider
            label="Consumption"
            min=".55"
            max="1.25"
            [value]="shiftC0()"
            step=".05"
            (valueChange)="shiftC0.set($event)"
            ></econ-slider>

        </div>
        <div id="chart1" class="item-chart"></div>
    </div>
