<h1 class="mat-headline grid">
  Abel/Bernanke/Croushore: Macroeconomics 11e Interactive Models
</h1>
<div class="grid grid-pad">
  <a
    [routerLink]="['/module01/key-diagram1']"
    [queryParams]="{ showPlayer: true }"
    class="col-1-4"
    (mouseover)="interactive = 1"
    (mouseout)="interactive = null"
  >
    <div class="module hero">
      <h4>Key Diagram 1</h4>
    </div>
  </a>

  <a
    [routerLink]="['/module01/key-diagram2']"
    [queryParams]="{ showPlayer: true }"
    class="col-1-4"
    (mouseover)="interactive = 2"
    (mouseout)="interactive = null"
  >
    <div class="module hero">
      <h4>Key Diagram 2</h4>
    </div>
  </a>
  <a
    routerLink="/module01/figure3.15"
    class="col-1-4"
    (mouseover)="interactive = 3"
    (mouseout)="interactive = null"
  >
    <div class="module hero">
      <h4>Figure 3.15</h4>
    </div>
  </a>
  <a
    [routerLink]="['/module02/key-diagram3']"
    [queryParams]="{ showPlayer: true }"
    class="col-1-4"
    (mouseover)="interactive = 4"
    (mouseout)="interactive = null"
  >
    <div class="module hero">
      <h4>Key Diagram 3</h4>
    </div>
  </a>
  <a
    [routerLink]="['/module02/key-diagram4']"
    [queryParams]="{ showPlayer: true }"
    class="col-1-4"
    (mouseover)="interactive = 5"
    (mouseout)="interactive = null"
  >
    <div class="module hero">
      <h4>Key Diagram 4</h4>
    </div>
  </a>
  <a
    [routerLink]="['/module02/key-diagram5']"
    [queryParams]="{ showPlayer: true }"
    class="col-1-4"
    (mouseover)="interactive = 6"
    (mouseout)="interactive = null"
  >
    <div class="module hero">
      <h4>Key Diagram 5</h4>
    </div>
  </a>
  <a
    [routerLink]="['/module02/figure6.5']"
    [queryParams]="{ showPlayer: true }"
    class="col-1-4"
    (mouseover)="interactive = 7"
    (mouseout)="interactive = null"
  >
    <div class="module hero">
      <h4>Figure 6.5</h4>
    </div>
  </a>
  <a
    routerLink="/module03/figure9.2"
    class="col-1-4"
    (mouseover)="interactive = 8"
    (mouseout)="interactive = null"
  >
    <div class="module hero">
      <h4>Figure 9.2</h4>
    </div>
  </a>
  <a
    routerLink="/module03/figure9.4"
    class="col-1-4"
    (mouseover)="interactive = 9"
    (mouseout)="interactive = null"
  >
    <div class="module hero">
      <h4>Figure 9.4</h4>
    </div>
  </a>
  <a
    [routerLink]="['/module03/key-diagram6']"
    [queryParams]="{ showPlayer: true }"
    class="col-1-4"
    (mouseover)="interactive = 10"
    (mouseout)="interactive = null"
  >
    <div class="module hero">
      <h4>Key Diagram 6</h4>
    </div>
  </a>
  <a
    [routerLink]="['/module03/key-diagram7']"
    [queryParams]="{ showPlayer: true }"
    class="col-1-4"
    (mouseover)="interactive = 11"
    (mouseout)="interactive = null"
  >
    <div class="module hero">
      <h4>Key Diagram 7</h4>
    </div>
  </a>
  <a
    [routerLink]="['/module03/key-diagram8']"
    [queryParams]="{ showPlayer: true }"
    class="col-1-4"
    (mouseover)="interactive = 12"
    (mouseout)="interactive = null"
  >
    <div class="module hero">
      <h4>Key Diagram 8</h4>
    </div>
  </a>
  <a
    routerLink="/module04/figure13.4"
    class="col-1-4"
    (mouseover)="interactive = 13"
    (mouseout)="interactive = null"
  >
    <div class="module hero">
      <h4>Figure 13.4</h4>
    </div>
  </a>
  <a
    routerLink="/module04/figure13.5"
    class="col-1-4"
    (mouseover)="interactive = 14"
    (mouseout)="interactive = null"
  >
    <div class="module hero">
      <h4>Figure 13.5</h4>
    </div>
  </a>
  <a
  routerLink="/module04/figure13.9"
  class="col-1-4"
  (mouseover)="interactive = 15"
  (mouseout)="interactive = null"
>
  <div class="module hero">
    <h4>Figure 13.9</h4>
  </div>
</a>

</div>
<div class="berk-key-points col-1-8" *ngIf="interactive === 1">
  <h2>Key Points for the Production Function Interactive</h2>
  <ol>
    <li>Point one.</li>
    <li>Point two.</li>
    <li>Point three.</li>
  </ol>
</div>
<div class="berk-key-points col-1-8" *ngIf="interactive === 2">
  <h2>Key Points for the Labor Demand Interactive</h2>
  <ol>
    <li>Point one.</li>
    <li>Point two.</li>
    <li>Point three.</li>
  </ol>
</div>
<div class="berk-key-points col-1-8" *ngIf="interactive === 3">
  <h2>Key Points for Figure 3.15: Unemployment Interactive</h2>
  <ol>
    <li>
      Weird situation where the graph doesn't display full width when opened
      from the dashboard.
    </li>
    <li>Clicking browser refresh will fix the issue.</li>
    <li>Working on a fix.</li>
  </ol>
</div>
<div class="berk-key-points col-1-8" *ngIf="interactive === 4">
  <h2>Key Points for Key Diagram 3: national saving</h2>
  <ol>
    <li>Point one.</li>
    <li>Point two.</li>
    <li>Point three.</li>
  </ol>
</div>
<div class="berk-key-points col-1-8" *ngIf="interactive === 5">
  <h2>Key Points for Key Diagram 4</h2>
  <ol>
    <li>Point one.</li>
    <li>Point two.</li>
    <li>Point three.</li>
  </ol>
</div>
<div class="berk-key-points col-1-8" *ngIf="interactive === 6">
  <h2>Key Points for Key Diagram 5</h2>
  <ol>
    <li>This model is not ready to view.</li>
    <li>Point one.</li>
    <li>Point two.</li>
    <li>Point three.</li>
  </ol>
</div>
<div class="berk-key-points col-1-8" *ngIf="interactive === 7">
  <h2>Key Points for figure 6.5: Solow Model</h2>
  <ol>
    <li>This model is not ready to view.</li>
    <li>Point two.</li>
    <li>Point three.</li>
  </ol>
</div>
<div class="berk-key-points col-1-8" *ngIf="interactive === 8">
  <h2>Key Points for Figure 9.2: derive IS curve</h2>
  <ol>
    <li>Point one.</li>
    <li>Point two.</li>
    <li>Point three.</li>
  </ol>
</div>
<div class="berk-key-points col-1-8" *ngIf="interactive === 9">
  <h2>Key Points for Figure 9.4: derive LM curve</h2>
  <ol>
    <li>Point one.</li>
    <li>Point two.</li>
    <li>Point three.</li>
  </ol>
</div>
<div class="berk-key-points col-1-8" *ngIf="interactive === 10">
  <h2>Key Points for Key Diagram 6</h2>
  <ol>
    <li>Point one.</li>
    <li>Point two.</li>
    <li>Point three.</li>
  </ol>
</div>
<div class="berk-key-points col-1-8" *ngIf="interactive === 11">
  <h2>Key Points for Key Diagram 7</h2>
  <ol>
    <li>This model is not ready to view.</li>
    <li>Point one.</li>
    <li>Point two.</li>
    <li>Point three.</li>
  </ol>
</div>
<div class="berk-key-points col-1-8" *ngIf="interactive === 12">
  <h2>Key Points for Key Diagram 8</h2>
  <ol>
    <li>This model is not ready to view.</li>
    <li>Point one.</li>
    <li>Point two.</li>
    <li>Point three.</li>
  </ol>
</div>
<div class="berk-key-points col-1-8" *ngIf="interactive === 13">
  <h2>Key Points for Figure 13.4 Interactive</h2>
  <ol>
    <li>Point one.</li>
    <li>Point two.</li>
    <li>Point three.</li>
  </ol>
</div>
<div class="berk-key-points col-1-8" *ngIf="interactive === 14">
  <h2>Key Points for Figure 13.5 Interactive</h2>
  <ol>
    <li>Point one.</li>
    <li>Point two.</li>
    <li>Point three.</li>
  </ol>
</div>
<div class="berk-key-points col-1-8" *ngIf="interactive === 15">
  <h2>Key Points for Figure 13.9: open economy ISLM</h2>
  <ol>
    <li>Point one.</li>
    <li>Point two.</li>
    <li>Point three.</li>
  </ol>
</div>
