<div class="econ-interactive-container">
  <div class="wrapper">
    <div class="item-narrative">
      <div *ngIf="mode === 0" class="econ-narative-block" @myAnimationTrigger>
        <h2>Exchange rate determination</h2>
        <p>Choose a scenario to run a simiulation showing its effect on the market for dollars and the exchange rate.</p>
        <form [formGroup]="scenarioGroup" >
          <mat-form-field appearance="outline" class="econ-control">
            <mat-label>Choose a scenario</mat-label>
            <mat-select formControlName="scenario" [disabled]="selectionDisabled">
              <mat-option value="0">Domestic income, Y</mat-option>
              <mat-option value="1">Foreign income, Y<sub>For</sub></mat-option>
              <mat-option value="2">Domestic real interest rate, r</mat-option>
              <mat-option value="3">Foreign real interest rate, r<sub>For</sub></mat-option>
              <mat-option value="4">World demand for domestic goods</mat-option>
            </mat-select>
          </mat-form-field><br/>
          <label id="radio-group-label">Choose the direction of change:</label>
          <mat-radio-group aria-labelledby="radio-group-label" formControlName="direction" [disabled]="selectionDisabled" >
            <mat-radio-button value="0">Increases</mat-radio-button>
            <mat-radio-button value="1">Decreases</mat-radio-button>
          </mat-radio-group>
        </form>
        <div class="abel-scenario" aria-live="polite">
          <div *ngIf="showScenario" >
            <h3>{{scenarioData[+scenarioGroup.value.scenario!][+scenarioGroup.value.direction!].title}}</h3>
            <p>{{scenarioData[+scenarioGroup.value.scenario!][+scenarioGroup.value.direction!].text}}</p>
          </div>
          </div>
        <button [disabled]="buttonDisabled" mat-raised-button (click)="runSimulation()">{{buttonTitle}}</button>

      </div>
    </div>
    <div id="chart1" class="item-chart"></div>
  </div>
  <app-player
    *ngIf="showPlayer"
    [steps]="6"
    [mode]="mode"
    (modeChange)="playStep($event)"
    class="player-navigation-container"
  ></app-player>
</div>
