<div class="econ-interactive-container">
  <div class="wrapper">
    <div id="chart1" class="item-chart"></div>
    <div id="chart2" class="item-chart"></div>
  </div>
  <div class="wrapper">
    <div class="item-narrative">
      <ul>
        <li>
          The LM curve is derived from the curves depicting real money demand and real money supply.
        </li>
        <li>
          Higher levels of output (income) increase the demand for money and shift the real money demand curve to the right.
        </li>
        <li>
          The real interest rate at equilibrium between real money demand and supply in the diagram on the left is plotted in the diagram on the right along with the level of output on the horizontal axis.
        </li>
      </ul>
    </div>
    <div class="econ-slider">
      <econ-slider
        label="Output, \(Y\)"
        econMath
        showValue="false"
        displayValue="{{ slider.value.expectedOutput }}"
        [min]="900"
        [max]="7000"
        step="100"
        [value]="slider.value.expectedOutput!"
        (valueChange)="updateChart({ expectedOutput: $event })"
      ></econ-slider>
      </div>
  </div>
</div>
