<div class="abel-player-container">
  <div class="abel-step-container" FlexLayout="row">
    <app-production-function
      *ngIf="model === 'pf01' && ready"
      [mode]="step"
      @myAnimationTrigger
    ></app-production-function>
    <app-labor-demand
      *ngIf="model === 'ld01' && ready"
      [mode]="step"
      @myAnimationTrigger
    ></app-labor-demand>
  </div>
  <div id="navigation" class="player-navigation-container">
    <button
      [disabled]="backDisabled"
      (click)="stepper(false)"
      mat-raised-button
    >
      Back
    </button>
    <p>Step {{ step + 1 }} of {{ stepArray.length }}</p>
    <button
      [disabled]="nextDisabled"
      (click)="stepper(true)"
      mat-raised-button
    >
      Next
    </button>
  </div>
</div>
