<div class="econ-interactive-container">
    <h1 class="mat-headline-5">Comparative Advantage</h1>
    <div class="wrapper">
        <div class="item-narrative">
            <ul>
                <li>Use this interactive to explore a variety of scenarios to help you better understand comparative advantage and the gains from trade.</li>
                <li>
                    The graphs show the opportunity cost of producing cherries for each person, or simply the slope of the PPF.                                                                                                             
                </li>
                <li>
                    The opportunity cost of picking apples is the inverse of the opportunity cost of picking cherries. 
                </li>
                <li>
                    Whoever has the lowest opportunity cost picking cherries has a comparative advantage in picking cherries. The other person has a comparative advantage in picking apples.
                </li>
            </ul>
            <table id="production">
                <caption>Production Possibilities</caption>
                <colgroup>
                    <col class="ppf" />
                    <col span="1" class="you-ppf" />
                    <col span="1" class="you-ppf" />
                    <col span="1" class="neighbor-ppf" />
                    <col span="1" class="neighbor-ppf" />
                </colgroup>
                <tr>
                    <th class="top-left-corner"></th>
                    <th colspan="2">You</th>
                    <th class="top-right-corner" colspan="2">Your Neighbor</th>
                </tr>
                <tr>
                    <th></th>
                    <th>Apples<br />(pounds)</th>
                    <th>Cherries<br />(pounds)</th>
                    <th>Apples<br />(pounds)</th>
                    <th>Cherries<br />(pounds)</th>
                </tr>
                <tr>
                    <td>Devote all time to picking apples</td>
                    <td><input name="you_apples" aria-label="Your max apples" type="number" [value]="p1y()" min="10"
                            max="60" step="5" (change)="updateView(p1y, $event)" /> </td>
                    <td>0 </td>
                    <td><input name="neighbor_apples" aria-label="Neighbors max apples" type="number" [value]="p2y()"
                            min="10" max="60" step="5" (change)="updateView(p2y, $event)" /> </td>
                    <td>0 </td>
                </tr>
                <tr>
                    <td class="bottom-left-corner">Devote all time to picking cherries</td>
                    <td>0 </td>
                    <td><input name="you_cherries" aria-label="Your max cherries" type="number" [value]="p1x()" min="10"
                            max="60" step="5" (change)="updateView(p1x, $event)" /> </td>
                    <td>0 </td>
                    <td class="bottom-right-corner"><input id="p2x" name="neibor_cherries" aria-label="Neighbor max cherries" type="number"
                            [value]="p2x()" min="10" max="60" step="5" (change)="updateView(p2x, $event)" /> </td>
                </tr>
            </table>

            <table id="trade">
                <caption>Production, Consumption, and Trade</caption>
                <colgroup>
                    <col class="ppf" />
                    <col span="2" class="you-ppf" />
                    <col span="2" class="neighbor-ppf" />
                </colgroup>
                <tr>
                    <th class="top-left-corner"></th>
                    <th colspan="2">You</th>
                    <th class="top-right-corner" colspan="2">Your Neighbor</th>
                </tr>
                <tr>
                    <th></th>
                    <th>Apples<br />(pounds)</th>
                    <th>Cherries<br />(pounds)</th>
                    <th>Apples<br />(pounds)</th>
                    <th>Cherries<br />(pounds)</th>
                </tr>
                <tr>
                    <td>Production & consumption without trade</td>
                    <td>{{pc1y() | number: '0.0-2'}}</td>
                    <td><input name="you_apples" aria-label="Your max apples" type="number" [value]="pc1x()" min="0"
                            [max]="p1x()" step="1" (change)="updateView(pc1x, $event)" /></td>
                    <td>{{pc2y() | number: '0.0-2'}}</td>
                    <td><input name="neighbor_apples" aria-label="Neighbors max apples" type="number" [value]="pc2x()"
                            min="0" [max]="p2x()" step="1" (change)="updateView(pc2x, $event)" /></td>
                </tr>
                <tr>
                    <td>Production with trade</td>
                    <td>{{pwt1y()}}</td>
                    <td>{{pwt1x()}}</td>
                    <td>{{pwt2y()}}</td>
                    <td>{{pwt2x()}}</td>
                </tr>
                <tr>
                    <td>Consumption with trade</td>
                    <td>{{trade().cwt1y | number: '0.0-2' }}</td>
                    <td>{{trade().cwt1x | number: '0.0-2' }}</td>
                    <td>{{trade().cwt2y | number: '0.0-2'}}</td>
                    <td>{{trade().cwt2x | number: '0.0-2'}}</td>
                </tr>
                <tr>
                    <td class="bottom-left-corner">Gains from trade</td>
                    <td>{{gains().g1y | number: '0.0-2'}}</td>
                    <td>{{gains().g1x | number: '0.0-2'}}</td>
                    <td>{{gains().g2y | number: '0.0-2'}}</td>
                    <td class="bottom-right-corner">{{gains().g2x | number: '0.0-2'}}</td>
                </tr>


            </table>

            <p *ngIf="p2oppCost() !== p1oppCost()" class="terms-narrative">You have a comparative advantage in producing {{ ca1()}}. Suppose you can trade 1 pound of {{ca1()}} for {{exRate() | number: '0.0-3' }} pounds of {{ ca2() }}. You trade <input type="number" aria-label="number to trade" [value]="trd1()" min="0" [max]="trade().tradeMax" (change)="updateView(trd1, $event)" /> pounds of {{ca1() }} for {{trade().receive | number: '0.0-2'}} pounds of {{ca2() }}.</p>

            <p *ngIf="p2oppCost() === p1oppCost()" class="terms-narrative">
                You and your neighbor have the same opportunity cost picking cherries; therefore, neither of you have a comparative advantage. You can still trade but there will be no gains. You trade <input type="number" aria-label="number to trade" [value]="trd1()" min="0" [max]="trade().tradeMax" (change)="updateView(trd1, $event)" /> pounds of {{ca1() }} for {{trade().receive | number: '0.0-2'}} pounds of {{ca2() }}.
            </p>



        </div>
        <div class="item-chart">
            <div id="chart1"></div>
            <div id="chart2"></div>
        </div>
    </div>