@import '../../app-mixins';

.item-chart {
    @include flex(5.5 2 55%);
  }
  
  .item-narrative {
    @include flex(6 .6 60% );
    margin-right: 5px;
  }
  

input {
    width: 30px;
}
input:out-of-range {
    border: solid 3px;
    border-color: red;
}

table  {
    border-collapse: collapse;
    width: 95%;
    margin: auto;
}

caption {
    font-weight: 500;
}

.ppf {

    width: 40%;
}

.you-ppf {
    background-color: beige;
    width: 20%;
}

.neighbor-ppf {
    background-color: lightblue;
    width: 40%;
}

tr {
    text-align: center;
    td, th {
        border: solid 1px black;
    }
}

th {
    font-weight: 500;
}

.terms-narrative {
    width: 95%;
    margin: auto;
    margin-top: 1em;
}

