<div class="econ-interactive-container">
    <h1 class="mat-headline-5" >Comparative Advantage</h1>
    <div class="wrapper">
        <div class="item-narrative">
            <table id="production">
                <caption>Production Possibilities</caption>
                <colgroup>
                    <col class="ppf" />
                    <col span="2" class="you-ppf" />
                    <col span="2" class="neighbor-ppf" />
                </colgroup>
                    <tr>
                        <th></th><th colspan="2">You</th><th colspan="2">Your Neighbor</th>
                    </tr>
                    <tr>
                        <th></th><th>Apples<br/>(pounds)</th><th>Cherries<br/>(pounds)</th><th>Apples<br/>(pounds)</th><th>Cherries<br/>(pounds)</th>
                    </tr>
                <tr>
                    <td>Devote all time to picking apples</td><td><input name="you_apples" aria-label="Your max apples" type="number" [value]="p1x()" min="10" max="30" step="5" (change)="updateView(p1x, $event)" /> </td><td>0 </td><td><input name="neighbor_apples" aria-label="Neighbors max apples" type="number" [value]="p2x()" min="20" max="40" step="5" (change)="updateView(p2x, $event)" /> </td><td>0 </td>
                </tr>
                <tr>
                    <td>Devote all time to picking cherries</td><td>0 </td><td><input name="you_cherries" aria-label="Your max cherries" type="number" [value]="p1y()" min="10" max="30" step="5"  (change)="updateView(p1y, $event)" /> </td><td>0 </td><td><input id="p2y" name="neibor_cherries" aria-label="Neighbor max cherries" type="number" [value]="p2y()" min="20" max="40" step="5" (change)="updateView(p2y, $event)" /> </td>
                </tr>
            </table>

            <table id="trade">
                <caption>Production and Consumption</caption>
                <colgroup>
                    <col class="ppf" />
                    <col span="2" class="you-ppf" />
                    <col span="2" class="neighbor-ppf" />
                </colgroup>
                    <tr>
                        <th></th><th colspan="2">You</th><th colspan="2">Your Neighbor</th>
                    </tr>
                    <tr>
                        <th></th><th>Apples<br/>(pounds)</th><th>Cherries<br/>(pounds)</th><th>Apples<br/>(pounds)</th><th>Cherries<br/>(pounds)</th>
                    </tr>
                <tr>
                    <td>Production & consumption without trade</td><td><input name="you_apples" aria-label="Your max apples" type="number" [value]="pc1y()" min="0" [max]="p1y()" step="5" (change)="updateView(pc1y, $event)" /> </td><td>{{pc1x()}} </td><td><input name="neighbor_apples" aria-label="Neighbors max apples" type="number" [value]="p2x()" min="20" max="40" step="5" (change)="updateView(p2x, $event)" /> </td><td>0 </td>
                </tr>
                <tr>
                    <td>Production with trade</td><td>0 </td><td><input name="you_cherries" aria-label="Your max cherries" type="number" [value]="p1y()" min="10" max="30" step="5"  (change)="updateView(p1y, $event)" /> </td><td>0 </td><td><input id="p2y" name="neibor_cherries" aria-label="Neighbor max cherries" type="number" [value]="p2y()" min="20" max="40" step="5" (change)="updateView(p2y, $event)" /> </td>
                </tr>
                <tr>
                    <td>Consumption with trade</td><td>0 </td><td><input name="you_cherries" aria-label="Your max cherries" type="number" [value]="p1y()" min="10" max="30" step="5"  (change)="updateView(p1y, $event)" /> </td><td>0 </td><td><input id="p2y" name="neibor_cherries" aria-label="Neighbor max cherries" type="number" [value]="p2y()" min="20" max="40" step="5" (change)="updateView(p2y, $event)" /> </td>
                </tr>
                <tr>
                    <td>Gains from trade</td><td>0 </td><td><input name="you_cherries" aria-label="Your max cherries" type="number" [value]="p1y()" min="10" max="30" step="5"  (change)="updateView(p1y, $event)" /> </td><td>0 </td><td><input id="p2y" name="neibor_cherries" aria-label="Neighbor max cherries" type="number" [value]="p2y()" min="20" max="40" step="5" (change)="updateView(p2y, $event)" /> </td>
                </tr>


            </table>

            

        </div>
        <div class="item-chart" id="chart1"></div>
    </div>
</div>
