@import '../../app-mixins';

.item-chart {
    @include flex(5.5 2 55%);
  }
  
  .item-narrative {
    @include flex(6 .6 60% );
    margin-right: 5px;
  }
  

input {
    width: 40px;
    text-align: center;
}
input:out-of-range {
    border: solid 3px;
    border-color: red;
}

table  {
    border-collapse: separate;
    border-spacing: 0;
    width: 95%;
    margin: auto;
    border: solid 1px darkgrey;
    border-radius: 5px;
    box-shadow: 2px 4px 4px rgba(219, 222, 225, 0.5);
    padding: 1px;

}

caption {
    font-weight: 400;
    font-size: 1.5em;
    margin-top: .6em;
}

.ppf {

    width: 40%;
}

.you-ppf {
    background-color: beige;
    width: 15%;
}

.neighbor-ppf {
    background-color: lightblue;
    width: 15%;
}

tr {
    text-align: center;
    th {
        border-bottom: solid 1px darkgrey;
        border-right: solid 1px darkgrey;
    }
    td {
        border-top: solid 1px darkgrey;
        border-right: solid 1px darkgrey;
    }

}

th {
    font-weight: 500;
}

.terms-narrative {
    width: 95%;
    margin: auto;
    margin-top: 1em;
}

 tr th:nth-child(-n+1) {
    border-right: solid 1px darkgrey;
    border-top: none;
    border-bottom: none;
}
.top-right-corner {
    border-top-right-radius: 5px;
}
.top-left-corner {
    border-top-left-radius: 5px;
}
.bottom-left-corner {
    border-bottom-left-radius: 5px;

}
.bottom-right-corner {
    border-bottom-right-radius: 5px;
}

ul, li {
    margin-bottom: 5px;
}